@model WebApplication1.ViewModels.Order.v客戶資訊VM

@{
    ViewBag.Title = "客戶資訊";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section styles {
    <style>
        .clientinfo-bg {
            width: 250px;
            left: 0;
            background-color: #8f8f8f;
            padding: 14px;
            padding-bottom: 13px;
        }
    </style>
}

<!-- ##### clientinfo Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="card-middle">
                        <div class="col-12 d-flex flex-wrap mt-5 card-style">
                            <img class="img-style2" src="@Model.客戶照片" alt="">
                            <div class="card-bg2">
                                <h6>@Model.客戶姓名</h6>
                                <div class="mb-2 mt-3"><b class="mr-5">暱　　稱</b><span>@Model.客戶暱稱</span></div>
                                <div class="mb-2"><b class="mr-5">電　　話</b><span>@Model.電話</span></div>
                                <div class="mb-2"><b class="mr-5">電子郵件</b><span>@Model.電子郵件</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### clientinfo End ##### -->
