@model WebApplication1.ViewModels.Account.多數模型vm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>會員資料</h2>



@using (Html.BeginForm("member", "Account"))
{
    <td>
        @{ if (Model.member.f權限 == null || Model.member.f權限 == 0)
            {
                @Html.ActionLink("成為chef", "Create", "Chef", new { fUID = Model.member.fUID }, null);
            } }
    </td>


    <div>
        <h4>t會員</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.member.f帳號)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.member.f帳號)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.member.f密碼)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.member.f密碼)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.member.f電子郵件)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.member.f電子郵件)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.member.f姓名)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.member.f姓名)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.member.f暱稱)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.member.f暱稱)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.member.f電話)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.member.f電話)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.member.f生日)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.member.f生日)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.member.f詳細地址)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.member.f詳細地址)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.member.f居住縣市)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.member.f居住縣市)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.member.f會員照片)
            </dt>

            <dd>
                <img width="100" height="70" src="~/Content/Memberimage/@Html.DisplayFor(modelItem => Model.member.f會員照片)" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.member.f點數)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.member.f點數)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.member.f權限)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.member.f權限)
            </dd>

        </dl>

        <p>
            @Html.ActionLink("編輯個人資料", "Details_edit",  new { fUID = Model.member.fUID },null) |
        </p>

    </div>
}

<td>
    @{ if (Model.member.f權限 > 0 )
        {
            using (Html.BeginForm("chef", "Account"))
            {<h4>私廚簡介</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.chef.f私廚簡介)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.chef.f私廚簡介)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.chef.f服務種類)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.chef.f服務種類)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.chef.f服務地區)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.chef.f服務地區)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.chef.f風格)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.chef.f風格)
                    </dd>




                </dl>
    
               <p>
                    @Html.ActionLink("編輯私廚資料", "edit", "chef", new { fCID = Model.chef.fCID }, null) |
                </p>
            }

        } }
</td>





