@model WebApplication1.ViewModels.Account.多數模型vm

@{
    ViewBag.Title = "會員中心";
   
}

@using (Html.BeginForm("member", "Account"))
{
<div class="contact-area section-padding-0-80">
    <div class="container p-0">
        <table style="width: 100%;" class="mt-5 mb-5">
            <tr>
                <td style="width: 90%;">
                    <span class="m-1 noclick">基本資料</span>

                    <span class="ml-4 mr-4"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>　點數餘額：0點</span>
                    <a href="buypoint.html">
                        <span style="color: #ffa943;">
                            <i class="fa fa-plus"
                               aria-hidden="true"></i>　儲值點數
                        </span>
                    </a>
                </td>
                <td class="text-right" style="width: 10%;">
                    <a href="@Url.Action("Details_edit", "Account", new { fUID = Model.member.fUID })">
                        <h5>
                            <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: #8b8b8b;"> </i>
                        </h5>
                    </a>
                </td>




            </tr>
        </table>
    </div>
    <div class="container single-best-receipe-area">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-4 p-0 ">
                        <div class="picautosize">
                            <div class="img-style3" style="background-image: url(/Content/Memberimage/@Html.DisplayFor(modelItem => Model.member.f會員照片));" onerror="this.src='https://icon-library.com/images/no-image-icon/no-image-icon-5.jpg'"></div>
                        </div>
                    </div>
                    <div class="col-lg-8 card-bg3">
                        <div class="mb-3"><span style="font-size: 16px;" class="mr-3"><b>@Html.DisplayFor(model => model.member.f姓名)</b></span></div>
                        <div class="mb-3"><b class="mr-5">暱　　稱</b><span> @Html.DisplayFor(model => model.member.f暱稱)</span></div>
                        <div class="mb-3"><b class="mr-5">電　　話</b><span> @Html.DisplayFor(model => model.member.f電話)</span></div>
                        <div class="mb-3"><b class="mr-5">電子郵件</b><span> @Html.DisplayFor(model => model.member.f電子郵件)</span></div>
                        <div class="mb-3"><b class="mr-5">生　　日</b><span> @Html.DisplayFor(model => model.member.f生日)</span></div>
                        <div class=""><b class="mr-5">地　　址</b><span>  @Html.DisplayFor(model => model.member.f居住縣市)@Html.DisplayFor(model => model.member.f詳細地址)</span></div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    @{ if (Model.member.f權限 == 0)
        {
            <div class="container mt-5 mb-5 text-center">
                <div class="delicious-buttons-area mb-80">
                    @Html.ActionLink("成為私廚", "Create", "Chef", new { fUID = Model.member.fUID }, new { @class = "btn delicious-btn btn-4 m-1 " })
                </div>
            </div>
        } }
</div>
}


<td>
    @{ if (Model.member.f權限 > 0)
        {
            using (Html.BeginForm("chef", "Account"))
            {<div class="container p-0">
                    <table style="width: 100%;" class="mt-5 mb-3">
                        <tr>
                            <td style="width: 50%;"><span class="m-1 noclick">私廚簡介</span>
                            <td class="text-right" style="width: 50%;">
                                <a href="@Url.Action("edit", "chef", new { fCID = Model.chef.fCID, fUID = Model.chef.fUID })">
                                    <h5>
                                        <i class="fa fa-pencil-square-o" style="color: #8b8b8b;" aria-hidden="true"></i>
                                    </h5>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-12 card-bg3">
                            <table style="line-height: 36px;">
                                <tr>
                                    <td style="width: 130px;" class="pl-4"><b>服務地區</b></td>
                                    <td>       @Html.DisplayFor(model => model.chef.f服務地區)</td>
                                </tr>
                                <tr>
                                    <td class="pl-4"><b>餐飲風格</b></td>
                                    <td>   @Html.DisplayFor(model => model.chef.f風格)</td>
                                </tr>
                                <tr>
                                    <td class="pl-4"><b>服務項目</b></td>
                                    <td>    @Html.DisplayFor(model => model.chef.f服務種類)</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:text-top;" class="pl-4"><b>私廚簡介</b></td>
                                    <td class="pr-4">
                                        @Html.DisplayFor(model => model.chef.f私廚簡介)
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="container p-0">
                    <table style="width: 100%;" class="mt-5 mb-3">
                        <tr>
                            <td><span class="m-1 noclick">服務設定</span>
                        </tr>
                    </table>

                    <div class="row delicious-buttons-area mb-80  text-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="calendar.html" class="btn delicious-btn btn-4 m-1" style="width: 100%;">可預訂時間</a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="#" class="btn delicious-btn btn-4 m-1" style="width: 100%;">販售項目</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }

        } }
</td>





