@model IEnumerable<WebApplication1.t會員>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f帳號)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f密碼)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f電子郵件)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f姓名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f暱稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f生日)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f詳細地址)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f居住縣市)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f會員照片)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f點數)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f權限)
        </th>
        <th></th>
        <th>私廚</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.fUID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.f帳號)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.f密碼)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.f電子郵件)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.f姓名)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.f暱稱)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.f電話)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.f生日)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.f詳細地址)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.f居住縣市)
    </td>
    <td>
        <img width="100" height="70" src="~/Content/Memberimage/@Html.DisplayFor(modelItem => item.f會員照片)"  onerror="this.src='https://icon-library.com/images/no-image-icon/no-image-icon-5.jpg'"/>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.f點數)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.f權限)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { fUID = item.fUID }) |
        @Html.ActionLink("會員資料", "Details", new { fUID = item.fUID }) |
        @Html.ActionLink("Delete", "Delete", new { fUID = item.fUID })

    </td>

</tr>
    }

</table>
