
@{
    ViewBag.Title = "登入";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">

            <div class="col-md-10">
                輸入帳號<br />
                @Html.TextBox("txtAccount")

            </div>
            <div class="col-md-10">
                輸入密碼<br />
                @Html.TextBox("txtPassword")

            </div>

        </div>


        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <input type="submit" value="確定" class="btn btn-red" />
                @Html.ActionLink("註冊", "Register", "Account", new { @class = "btn btn-success" })
                @Html.ActionLink("測試用會員列表", "list", "Account", new { @class = "btn btn-success" })
            </div>
        </div>

    </div>
}



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

