
@{
    ViewBag.Title = "販售項目";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section Breadcumb {
    @{ Html.RenderPartial("~/Views/Shared/_Breadcumb一般.cshtml"); }
}

<div class="container mt-5 mb-5">

    <a href="productinfo.html">
        <span class="newitem">
            <i class="fa fa-plus" aria-hidden="true"></i>
            新增販售項目
        </span>
    </a>
</div>
<div class="container">

    <div class="accordions mb-80" id="accordion" role="tablist" aria-multiselectable="true">

        <!-- Single Accordian Area -->
        <div class="panel single-accordion">
            <h6>
                <a role="button" class="" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse"
                   data-parent="#accordion" href="#collapseOne">
                    1.套餐/課程名稱-風格-服務項目
                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                </a>
            </h6>
            <div id="collapseOne" class="accordion-content collapse show">
                <table>
                    <tr>
                        <td rowspan="3" style="width:20%; padding: 0; min-width: 200px;" class="img-style5"
                            background="/Content/img/bg-img/insta1.jpg"></td>
                        <td colspan="2" class="product_td">
                            <h6>主要內容</h6>
                        </td>
                        <td rowspan="3" class="text-left pl-4 table-border" style="width: 10%;">
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1"><a>上架</a></label>
                            </div>
                            <a href="@Url.Action("productinfo","Fontend")" class="pd1px"><i class="fa fa-plus"></i><span class="pl-2"> 菜色</span></a><br>
                            <a href="@Url.Action("productinfo","Fontend")" class="pd1px"><i class="fa fa-edit"></i><span class="pl-2">編輯</span></a><br>
                            <a href="#" class="pd1px"><i class="fa fa-trash"></i><span class="pl-2"> 刪除</span></a>
                        </td>
                    </tr>
                    <td class="product_td" style="width: 100px;min-width: 100px;"><b>價格:</b></td>
                    <td class="product_td">NT$500/人</td>
                    <tr>
                        <td class="product_td table-bottom" style="width:10%;"><b>詳細內容:</b></td>
                        <td class="product_td table-bottom">詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容</td>
                    </tr>

                    <tr>
                        <td rowspan="3" style="padding: 0;" class="img-style5" background="/Content/img/bg-img/insta2.jpg"></td>
                        <td colspan="2" class="product_td">
                            <h6>菜色1</h6>
                        </td>
                        <td rowspan="3" class="text-left pl-4 table-border">

                            <a href="@Url.Action("dishesinfo","Fontend")"><i class="fa fa-edit"></i><span class="pl-2">編輯</span></a><br>
                            <a href="@Url.Action("dishesinfo","Fontend")"><i class="fa fa-trash"></i><span class="pl-2"> 刪除</span></a>
                        </td>
                    </tr>
                    <td class="product_td"><b>菜名:</b></td>
                    <td class="product_td">宮保雞丁</td>
                    <tr>
                        <td class="product_td table-bottom"><b>菜色內容:</b></td>
                        <td class="product_td table-bottom">詳細內容詳細內容詳細內容詳細內詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容容詳細內容詳細內容</td>
                    </tr>

                    <tr>
                        <td rowspan="3" style="padding: 0;" class="img-style5" background="/Content/img/bg-img/insta3.jpg"></td>
                        <td colspan="2" class="product_td">
                            <h6>菜色2</h6>
                        </td>
                        <td rowspan="3" class="text-left pl-4 table-border">

                            <a href="@Url.Action("dishesinfo","Fontend")"><i class="fa fa-edit"></i><span class="pl-2">編輯</span></a><br>
                            <a href="@Url.Action("dishesinfo","Fontend")"><i class="fa fa-trash"></i><span class="pl-2"> 刪除</span></a>
                        </td>
                    </tr>
                    <td class="product_td"><b>菜名:</b></td>
                    <td class="product_td">宮保雞丁</td>
                    <tr>
                        <td class="product_td table-bottom"><b>菜色內容</b>:</td>
                        <td class="product_td table-bottom">詳細內容詳細內容詳細內容詳細內詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容容詳細內容詳細內容</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Single Accordian Area -->
        <div class="panel single-accordion">
            <h6>
                <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo"
                   data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">
                    2.套餐/課程名稱-風格-服務項目
                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                </a>
            </h6>
            <div id="collapseTwo" class="accordion-content collapse">
                <table class="product_detail ">
                    <tr>
                        <td rowspan="3" style="width:20%; padding: 0; min-width: 200px;" class="img-style5"
                            background="/Content/img/bg-img/insta4.jpg"></td>
                        <td colspan="2" class="product_td">
                            <h6>主要內容</h6>
                        </td>
                        <td rowspan="3" class="text-left pl-4 table-border" style="width: 10%;">
                            <div class="ingredients">
                                <div class="custom-control custom-checkbox ">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2"><a>上架</a></label>
                                </div>
                            </div>
                            <a href="#" class="pd1px"><i class="fa fa-plus"></i><span class="pl-2"> 菜色</span></a><br>
                            <a href="@Url.Action("productinfo","Fontend")" class="pd1px"><i class="fa fa-edit"></i><span class="pl-2">編輯</span></a><br>
                            <a href="@Url.Action("productinfo","Fontend")" class="pd1px"><i class="fa fa-trash"></i><span class="pl-2"> 刪除</span></a>
                        </td>
                    </tr>
                    <td class="product_td" style="width: 100px;min-width: 100px;"><b>價格:</b></td>
                    <td class="product_td">NT$500/人</td>
                    <tr>
                        <td class="product_td table-bottom" style="width:10%;"><b>詳細內容:</b></td>
                        <td class="product_td table-bottom">詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容</td>
                    </tr>

                    <tr>
                        <td rowspan="3" style="padding: 0;" class="img-style5" background="/Content/img/bg-img/insta5.jpg"></td>
                        <td colspan="2" class="product_td">
                            <h6>菜色1</h6>
                        </td>
                        <td rowspan="3" class="text-left pl-4 table-border">

                            <a href="@Url.Action("productinfo","Fontend")"><i class="fa fa-edit"></i><span class="pl-2">編輯</span></a><br>
                            <a href="#"><i class="fa fa-trash"></i><span class="pl-2"> 刪除</span></a>
                        </td>
                    </tr>
                    <td class="product_td"><b>菜名:</b></td>
                    <td class="product_td">宮保雞丁</td>
                    <tr>
                        <td class="product_td table-bottom"><b>菜色內容:</b></td>
                        <td class="product_td table-bottom">詳細內容詳細內容詳細內容詳細內詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容容詳細內容詳細內容</td>
                    </tr>

                    <tr>
                        <td rowspan="3" style="padding: 0;" class="img-style5" background="/Content/img/bg-img/insta6.jpg"></td>
                        <td colspan="2" class="product_td">
                            <h6>菜色2</h6>
                        </td>
                        <td rowspan="3" class="text-left pl-4 table-border">

                            <a href="#"><i class="fa fa-edit"></i><span class="pl-2">編輯</span></a><br>
                            <a href="#"><i class="fa fa-trash"></i><span class="pl-2"> 刪除</span></a>
                        </td>
                    </tr>
                    <td class="product_td"><b>菜名:</b></td>
                    <td class="product_td">宮保雞丁</td>
                    <tr>
                        <td class="product_td table-bottom"><b>菜色內容</b>:</td>
                        <td class="product_td table-bottom">詳細內容詳細內容詳細內容詳細內詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容容詳細內容詳細內容</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Single Accordian Area -->
        <div class="panel single-accordion">
            <h6>
                <a role="button" aria-expanded="true" aria-controls="collapseThree" class="collapsed"
                   data-parent="#accordion" data-toggle="collapse" href="#collapseThree">
                    3.套餐/課程名稱-風格-服務項目
                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                </a>
            </h6>
            <div id="collapseThree" class="accordion-content collapse">
                <table class="product_detail ">
                    <tr>
                        <td rowspan="3" style="width:20%; padding: 0; min-width: 200px;" class="img-style5"
                            background="/Content/img/james-img/1.jpg"></td>
                        <td colspan="2" class="product_td">
                            <h6>主要內容</h6>
                        </td>
                        <td rowspan="3" class="text-left pl-4 table-border" style="width: 10%;">
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3"><a>上架</a></label>
                            </div>
                            <a href="#" class="pd1px"><i class="fa fa-plus"></i><span class="pl-2"> 菜色</span></a><br>
                            <a href="#" class="pd1px"><i class="fa fa-edit"></i><span class="pl-2">編輯</span></a><br>
                            <a href="#" class="pd1px"><i class="fa fa-trash"></i><span class="pl-2"> 刪除</span></a>
                        </td>
                    </tr>
                    <td class="product_td" style="width: 100px;min-width: 100px;"><b>價格:</b></td>
                    <td class="product_td">NT$500/人</td>
                    <tr>
                        <td class="product_td table-bottom" style="width:10%;"><b>詳細內容:</b></td>
                        <td class="product_td table-bottom">詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容</td>
                    </tr>

                    <tr>
                        <td rowspan="3" style="padding: 0;" class="img-style5" background="/Content/img/james-img/1.jpg"></td>
                        <td colspan="2" class="product_td">
                            <h6>菜色1</h6>
                        </td>
                        <td rowspan="3" class="text-left pl-4 table-border">

                            <a href="#"><i class="fa fa-edit"></i><span class="pl-2">編輯</span></a><br>
                            <a href="#"><i class="fa fa-trash"></i><span class="pl-2"> 刪除</span></a>
                        </td>
                    </tr>
                    <td class="product_td"><b>菜名:</b></td>
                    <td class="product_td">宮保雞丁</td>
                    <tr>
                        <td class="product_td table-bottom"><b>菜色內容:</b></td>
                        <td class="product_td table-bottom">詳細內容詳細內容詳細內容詳細內詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容容詳細內容詳細內容</td>
                    </tr>

                    <tr>
                        <td rowspan="3" style="padding: 0;" class="img-style5" background="/Content/img/james-img/1.jpg"></td>
                        <td colspan="2" class="product_td">
                            <h6>菜色2</h6>
                        </td>
                        <td rowspan="3" class="text-left pl-4 table-border">

                            <a href="#"><i class="fa fa-edit"></i><span class="pl-2">編輯</span></a><br>
                            <a href="#"><i class="fa fa-trash"></i><span class="pl-2"> 刪除</span></a>
                        </td>
                    </tr>
                    <td class="product_td"><b>菜名:</b></td>
                    <td class="product_td">宮保雞丁</td>
                    <tr>
                        <td class="product_td table-bottom"><b>菜色內容</b>:</td>
                        <td class="product_td table-bottom">詳細內容詳細內容詳細內容詳細內詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容詳細內容容詳細內容詳細內容</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>